
$background-color-black: #000000;

$hover-grey-light: #d1d5db;
$background-grey-strong: #1f1e1e;
$background-grey-medium: #414141;

$text-grey-color:#9ca3af;
$yellow-contact-form: #fbbf24;
$red-error: red;
