@import "../../../assets/scss/colors.scss";

.container-visual-layout{
    border-bottom: 1px solid $background-grey-medium;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;

    min-width: 120%;
    min-height: 100%;
    
    left: 50%;
    top: 50%;
    
    transform: translateX(-50%) translateY(-50%);

    z-index: 1;
  }