
.container-card-info{
    background-color: #414141;
    width: 18rem;
    height: 34rem;
    img{
        height: 75%;
        object-fit: cover;
    }
    color: white;

    .div-card-data{
        .div-description {
            overflow: hidden;
            font-size: 12px;
          }
          
          p {
            overflow: hidden;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }

    }
    .action-div{
      img{
        height: 100%;
      }
      .cross-to-plus{
        transform: rotate(45deg);
      }
    }
}