@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/fonts.scss";

.container-card-info{
    background-color: $background-grey-medium;
    width: 18rem;
    height: 34rem;
    img{
        height: 75%;
        object-fit: cover;
    }
    .div-card-data{
        .div-description {
            overflow: hidden;
            font-size: 12px;
          }
          p {
            overflow: hidden;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }

    }
    .action-div{
      background-color: $background-grey-strong;
      img{
        height: 100%;
      }
      .cross-to-plus{
        transform: rotate(45deg);
      }
    }
}