
<div class="container-footer bg-gray-700">
    <div class=" text-white mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <div class="text-center md:text-left">
            <div>
                <span class="font-medium">Amadeus IT Group</span>
                <div class="grid mt-2 font-light">
                    <span>C.Salvador de madariaga, 1</span>
                    <span>28027 Madrid</span>
                    <span>Spain</span>
                </div>
            </div>
        </div>
        <div class="text-center md:text-left">
            <div class="flex">
                <span class="font-light mr-4">Follow us on </span>
                <img class="mx-1" src="../../assets/Icons/Twitter White.svg" alt="Twitter">
                <img class="mx-1" src="../../assets/Icons/Youtube White.svg" alt="Youtube">
            </div>
        </div>
    </div>
    <div>
        <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-400 sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
    </div>
</div>