@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/fonts.scss";

.container-widget-form-contact{
  input, textarea{
      background-color: $background-grey-medium;
  }
  .is-invalid {
    border: 1px solid $red-error;
  }
  .invalid-feedback {
    color: $red-error;
    font-size: 12px;
    margin-left: 10px;
  }

  .yellow-background{
    background-color: $yellow-contact-form;
  }
}